@import url(base.css);

:root {
  --light-blue: hsl(211, 100%, 50%);
  --light-gray: hsla(0, 0%, 0%, 0.125);
  --gray: rgba(0, 0, 0, 0.03);
}

.page-title {
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 2.5rem;
  background-color: #2f4858;
  color: var(--first-color);
  padding: 1rem;
}

.main-news-img {
  margin-bottom: 10.5rem;
  width: 100%;
  max-height: 50rem;
}

main {
  padding: 0 1.5rem;
  display: grid;
}

section {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.title {
  font-size: 1.8rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: capitalize;
  padding: 1.2rem 2.3rem;
  background-color: #2f4858;
  color: var(--title-color);
}

.left-section {
  max-width: 35rem;
  width: 100%;
}

/*search section*/
.search-form {
  padding: 2rem;
  background-color: #f8fff8;
}

.search-input {
  padding: 1rem;
  outline: none;
}

.search-input::placeholder {
  font-size: 1.6rem;
}

.search-btn {
  padding: 1.2rem;
  border-radius: 5px;
  background: var(--title-color-black);
  color: var(--title-color);
  border: none;
  margin: 0.5rem;
}

/*catagory section*/
.catagory {
  margin-top: 2.5rem;
}

.catagory__list {
  list-style-type: none;
  padding: 2rem;
  background-color: #f8fff8;
}

.catagory__list-item a {
  display: block;
  text-decoration: none;
  color: var(--title-color-black);
}

.catagory__list-item:nth-child(2) a,
.catagory__list-item:nth-child(3) a {
  margin-top: 1rem;
}

/*news content*/
.news-content__1,
.news-content__2 {
  border: 1px solid var(--light-gray);
  max-width: 60rem;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-radius: 5px;
  background-color: #f8fff8;
  display: flex;
  flex-direction: column;
}

.news-title {
  font-size: 2rem;
}

.news-title,
.news-catagory {
  width: 90%;
  align-self: center;
  color: var(--title-color-black);
}

.news-catagory {
  margin-top: 1rem;
}

.news-img {
  margin-top: 2rem;
  display: block;
  width: 90%;
  height: 46rem;
  align-self: center;
}

.news-text {
  width: 90%;
  margin: 1rem 0;
  padding: 1rem 0;
  align-self: center;
  color: var(--title-color-black);
}

.news-post {
  padding: 1rem 3rem;
  background-color: var(--gray);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*recent news*/
.recent-news {
  width: 100%;
  max-width: 35rem;
  margin-top: 2.5rem;
}

.recent-news__list {
  list-style-type: none;
  padding: 1rem;
  background-color: #f8fff8;
}

.recent-news__list-item a {
  display: block;
  text-decoration: none;
  color: var(--title-color-black);
}

.recent-news__list-item + .recent-news__list-item {
  margin-top: 1rem;
}

/*centering all the items*/
.left-section,
.news-content,
.recent-news {
  margin-left: auto;
  margin-right: auto;
}

/*media querie*/
@media (min-width: 950px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    grid-gap: 0 2rem;
  }

  .news-banner {
    grid-column: 1 / -1;
  }

  .news-content {
    max-width: 70rem;
  }
  .news-content__1,
  .news-content__2 {
    margin-top: 0;
    max-width: unset;
  }

  .news-content__2 {
    margin-top: 4rem;
  }

  .recent-news {
    margin-top: 0;
  }
}
